:root {
  --botonReadMore: #007bff;
  --botonBuyAmazon: #f7a600;
  --color-blanco: white;
  --color-fondo: black;
  --color-footer:rgb(83, 83, 83);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  font-family: "Georgia", serif;
  text-align: center;
  background: var(--color-blanco);
  padding: 10px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 18px;
  color: black;
}

header h1 span {
  font-size: 12px;
  color: gray;
}

header h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-blanco);
  padding: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

 #tarjetasLista {
  flex: 0 1 100%; /* Ocupan todo el ancho en dispositivos móviles */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: var(--color-blanco);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Estilo para las tarjetas */
#tarjetasBooks {
  flex: 0 1 100%; /* Ocupan todo el ancho en dispositivos móviles */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: var(--color-blanco);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

 #tarjetasLista h1,
 #tarjetasBooks h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--color-fondo);
  text-align: center;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 #tarjetasLista p,
 #tarjetasBooks p {
  font-size: 14px;
  margin: 5px 0;
  color: #333;
}

/* Imagen dentro de la tarjeta */
#tarjetasBooks img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

 #tarjetasLista button {
  width: 80%;
  margin: 10px auto 0;
  background-color: var(--botonReadMore);
  color: var(--color-blanco);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Botón "Buy on Amazon" */
#tarjetasBooks button {
  margin-top: auto; /* Empuja el botón hacia el final de la tarjeta */
  align-self: center; /* Centra el botón horizontalmente */
  padding: 10px 20px;
  background-color: var(--botonBuyAmazon); /* Color de fondo */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
 #tarjetasLista button:hover {
  background-color: var(--botonreadMore); /* Cambia el color al pasar el ratón */
}
/* Enlace dentro del botón */
#tarjetasBooks button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
/* Hover para el botón */
#tarjetasBooks button:hover {
  background-color:var(--botonBuyAmazon); /* Cambia el color al pasar el ratón */
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--color-footer); /* Fondo oscuro */
  color: var(--color-blanco); /* Texto blanco */
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Sombra superior */
}

footer a {
  color: var(--color-blanco); /* Enlace blanco */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease; /* Transición suave */
}

footer a:hover {
  color: #ddd; /* Cambia el color al pasar el ratón */
}

#github-icon img,
#linkedin-icon img {
  width: 20px; /* Tamaño del ícono */
  height: 20px;
  margin-left: 10px; /* Espaciado entre los íconos y el texto */
  vertical-align: middle; /* Alinea los íconos con el texto */
  transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}

#github-icon img:hover,
#linkedin-icon img:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

body:has(:is(html):last-child) footer {
  transform: translateY(0); /* Muestra el footer al llegar al final */
}
#filtro {
  width: 50%; /* Ancho del select */
  margin: 0 auto; /* Centrar el select */
  display: block; /* Asegura que el select ocupe el ancho completo */
  padding: 10px; /* Espaciado interno */
  border: 2px solid #ddd; /* Borde suave */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  background-color: var(--color-blanco); /* Fondo claro */
  color: #333; /* Color del texto */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

#filtro:hover {
  border-color: #aaa; /* Cambia el color del borde al pasar el ratón */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}

#filtro:focus {
  outline: none; /* Elimina el borde azul predeterminado */
  border-color:var(--botonReadMore); /* Borde azul al enfocar */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Resplandor azul */
}
#filtroBusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#filtroBusqueda input {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 50%;
  font-size: 16px;
}
#filtroBusqueda button {
  padding: 10px 20px;
  margin-left: 10px; /* Espaciado entre el input y el botón */
  background-color: var(--botonReadMore); /* Azul brillante */
  color: var(--color-blanco); /* Texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#filtroBusqueda button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
}
#back {
  width: 20%;
  margin: 0 30px; /* Centrar el botón */
  background-color: var(--botonBuyAmazon); /* Azul brillante */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: 12px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}
/* Spinner de carga */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--botonReadMore);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#loading p {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
#controles-paginacion{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {
  article #tarjetasLista,
  article #tarjetasBooks {
    flex: 0 1 calc(50% - 20px); /* Ocupan la mitad del ancho */
  }

  article {
    gap: 20px;
  }

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  article #tarjetasLista,
  article #tarjetasBooks {
    flex: 0 1 calc(20% - 20px); /* Ocupan un cuarto del ancho */
  }
  header h1 {
    font-size: 28px;
  }

  header h2 {
    font-size: 40px;
  }
}